.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #1f2937;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}